<!DOCTYPE html>
<html lang="en">
<!-- <html lang="en" ng-app="tartanhacks"> -->
<head>
  <meta charset="UTF-8">
  <title>Calendar view</title>

  <style>
    body {
      width: 100%;
      margin: 0;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css">
  <link rel="stylesheet" href="../static/css/calendar.css">
  <script src="../static/js/angular.min.js"></script>
  <script src="../static/js/jquery-2.2.0.min.js"></script>
  <script src="../static/js/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js"></script>
</head>
<body>
  <!-- <div ng-controller="CalendarController">
  </div> -->
  <div id="calendar" style="width: 80%;"></div>

  <script>
    var colors = ['#D32F2F', '#C2185B', '#7B1FA2', '#512DA8',
                  '#303F9F', '#1976D2', '#0288D1', '#0097A7',
                  '#388E3C', '#F57C00', '#E64A19', '#689F38', '#AFB42B'
                 ];

    $(document).ready(function() {
      $.get({
        url: '../static/varun_schedule.json',
      }).done(function(userInfo) {
        var startIndex = 7;
        var currentIndex = 0;
        var classColors = {};

        userInfo.schedule.forEach(function(course) {
          if (!classColors[course.course]) {
            classColors[course.course] = colors[startIndex + currentIndex];
            course.color = colors[startIndex + currentIndex];
            currentIndex++;
          } else {
            course.color = classColors[course.course];
          }
        });

        $('#calendar').fullCalendar({
          defaultDate: '2016-01-10',
          slotWidth: 80,
          height: 720,
          header: false,
          allDaySlot: false,
          theme: true,
          defaultView: 'agendaWeek',
          editable: false,
          displayEventTime: true,
          displayEventEnd: true,
          minTime: '08:00:00',
          maxTime: '22:00:00',
          columnFormat: {
            week: 'ddd' // Only show day of the week names
          },
          // businessHours: {
          //   start: '8:30',
          //   end: '22:00',
          //   dow: [0, 1, 2, 3, 4, 5, 6]
          // },
          dayClick: function() {
            // debugger;
            console.log('a day has been clicked');
          },
          eventClick: function() {
            console.log('an event has been clicked');
          },
          events: userInfo.schedule
        });
      }).fail(function() {
        alert('error occured');
      });
    });
    // angular
    //   .module('tartanhacks', [])
    //   .controller('CalendarController', CalendarController);

    // function CalendarController($scope) {
    //   var startTime = 8;
    //   var endTime = 22;
    //   $scope.times = [];
    //   for (i = startTime; i <= endTime; i++) {
    //     $scope.times.push(i);
    //   }
    //   $scope.days = [
    //                'Sunday',
    //                'Monday',
    //                'Tuesday',
    //                'Wednesday',
    //                'Thursday',
    //                'Friday',
    //                'Saturday'
    //              ];
    //   // var thead = document.querySelector('thead');
    //   // times.forEach(function(time) {
    //     // var th = document.createElement('th');
    //     // th.innerText = time;
    //     // thead.appendChild(th);
    //   // });
    // }

    // CalendarController.$inject = ['$scope'];
  </script>
</body>
</html>
