<!DOCTYPE html>
<html lang="en">
<!-- <html lang="en" ng-app="tartanhacks"> -->
<head>
  <meta charset="UTF-8">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CMU Meets</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../static/css/home.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <style>
    body {
      width: 100%;
      margin: 0;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css">
  <link rel="stylesheet" href="../static/css/calendar.css">
  <script src="../static/js/angular.min.js"></script>
  <script src="../static/js/jquery-2.2.0.min.js"></script>
  <script src="../static/js/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js"></script>
</head>
<body>
  <!-- <div ng-controller="CalendarController">
  </div> -->
  <div id="container">
    <div id="calendar"></div>
    <div id="event-info">
      <div class="event">
        <h5 id="time"></h5>
        <h6 id="course-name"></h6>
        <h6 class="instructors"></h6>
        <h6 class="location"></h6>
        <h6 class="section"></h6>
        <h6>Friends in your class</h6>
        <ul class="friends collection">
          <!-- add friends here -->
        </ul>
      </div>

      <div class="free">
        <h5 id="time"></h5>
        <h6>Friends Available</h6>
        <ul class="friends collection">
          <!-- add friends here -->
        </ul>

        <h6>Restaurants Open</h6>
        <ul class="restaurants collection">
          <!-- add restaurants here -->
        </ul>
      </div>
    </div>
  </div>

  <script>
    var colors = ['#D32F2F', '#C2185B', '#7B1FA2', '#512DA8',
                  '#303F9F', '#1976D2', '#0288D1', '#0097A7',
                  '#388E3C', '#F57C00', '#E64A19', '#689F38', '#AFB42B'
                 ];

    var userInfo = {{ userInfo }};
    var freeSchedule = {{ freeSchedule }};
    $(document).ready(function() {
      var startIndex = 7;
      var currentIndex = 0;
      var classColors = {};

      userInfo.forEach(function(course) {
        if (!classColors[course.course]) {
          classColors[course.course] = colors[startIndex + currentIndex];
          course.color = colors[startIndex + currentIndex];
          currentIndex++;
        } else {
          course.color = classColors[course.course];
        }
      });

      $('#calendar').fullCalendar({
        defaultDate: '2016-01-10',
        slotWidth: 80,
        height: 720,
        header: false,
        allDaySlot: false,
        theme: true,
        defaultView: 'agendaWeek',
        editable: false,
        displayEventTime: true,
        displayEventEnd: true,
        minTime: '08:00:00',
        maxTime: '22:00:00',
        columnFormat: {
          week: 'ddd' // Only show day of the week names
        },
        dayClick: function() {
          console.log('a day has been clicked');
        },
        eventClick: function(course, evt) {
          $('#event-info').css('display', 'block')
                          .css('background', course.color);

          if (course.title) {
            $('#event-info .event').css('display', 'block');
            $('#event-info .free').css('display', 'none');
            $('#event-info .event #time').text('Time: ' + $.fullCalendar.formatRange(course.start, course.end, 'h:mm'));
            $('#event-info .event #course-name').text('Course: ' + course.title);
            var instructors = 'Instructors: ';
            course.instructors.forEach(function(instructor) {
              instructors += instructor + ', ';
            });
            $('#event-info .event .instructors').text(instructors.substring(0, instructors.length - 2));
            $('#event-info .event .location').text('Room: ' + course.location);
            $('#event-info .event .section').text('Section: ' + course.section);

            var friends = [];
            course.friends.forEach(function(friend) {
              friends.push($('<li class="collection-item">' + friend + '</li>'));
            });
            $('#event-info .event .friends').html(friends);
          } else {
            $('#event-info .event').css('display', 'none');
            $('#event-info .free').css('display', 'block');

            $('#event-info .free #time').text('Time: ' + $.fullCalendar.formatRange(course.start, course.end, 'h:mm'));
            var friends = [];
            course.friends.forEach(function(friend) {
              friends.push($('<li class="collection-item">' + friend + '</li>'));
            });
            $('#event-info .free .friends').html(friends);

            var restaurants = [];
            course.restaurants.forEach(function(restaurant) {
              restaurants.push($('<li class="collection-item">' + restaurant + '</li>'));
            });
            $('#event-info .free .restaurants').html(restaurants);
          }
        },
        events: userInfo.concat(freeSchedule)
      });

      $(document).keyup(function(e) {
        if (e.keyCode == 27) { // escape key maps to keycode `27`
          $('#event-info').css('display', 'none');
          $('#event-info .event').css('display', 'none');
          $('#event-info .free').css('display', 'none');
        }
      }).click(function(e) {
        if (e.target.nodeName === 'HTML') {
          $('#event-info').css('display', 'none');
          $('#event-info .event').css('display', 'none');
          $('#event-info .free').css('display', 'none');
        }
      });
    });
  </script>
</body>
</html>
