<!DOCTYPE html>
<html lang="en">
<!-- <html lang="en" ng-app="tartanhacks"> -->
<head>
  <meta charset="UTF-8">
  <title>Calendar view</title>

  <style>
    body {
      width: 100%;
      margin: 0;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css">
  <link rel="stylesheet" href="../static/css/calendar.css">
  <script src="../static/js/angular.min.js"></script>
  <script src="../static/js/jquery-2.2.0.min.js"></script>
  <script src="../static/js/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js"></script>
</head>
<body>
  <!-- <div ng-controller="CalendarController">
  </div> -->
  <div id="container">
    <div id="calendar"></div>
    <div id="event-info">
      <div class="event">
        <h2 id="course-name"></h2>
        <h3 class="instructors"></h3>
        <h3 class="location"></h3>
        <h3 class="section"></h3>
        <h3>Friends in your class</h3>
        <ul class="friends">
          <!-- add friends here -->
        </ul>
      </div>

      <div class="free">
        <h2>Friends Available</h2>
        <ul class="friends">
          <!-- add friends here -->
        </ul>

        <h2>Restaurants Open</h2>
        <ul class="restaurants">
          <!-- add restaurants here -->
        </ul>
      </div>
    </div>
  </div>

  <script>
    var colors = ['#D32F2F', '#C2185B', '#7B1FA2', '#512DA8',
                  '#303F9F', '#1976D2', '#0288D1', '#0097A7',
                  '#388E3C', '#F57C00', '#E64A19', '#689F38', '#AFB42B'
                 ];

    var userInfo = JSON.parse('{{ userInfo }}');
    var freeSchedule = '{{ freeSchedule }}';
    $(document).ready(function() {
      $.getJSON({
        url: '../static/my_data.json',
      }).done(function(userInfo) {
        $.getJSON({
          url: '../static/freetimes.json',
        }).done(function(freeSchedule) {
          var startIndex = 7;
          var currentIndex = 0;
          var classColors = {};

          userInfo.schedule.forEach(function(course) {
            if (!classColors[course.course]) {
              classColors[course.course] = colors[startIndex + currentIndex];
              course.color = colors[startIndex + currentIndex];
              currentIndex++;
            } else {
              course.color = classColors[course.course];
            }
          });

          $('#calendar').fullCalendar({
            defaultDate: '2016-01-10',
            slotWidth: 80,
            height: 720,
            header: false,
            allDaySlot: false,
            theme: true,
            defaultView: 'agendaWeek',
            editable: false,
            displayEventTime: true,
            displayEventEnd: true,
            minTime: '08:00:00',
            maxTime: '22:00:00',
            columnFormat: {
              week: 'ddd' // Only show day of the week names
            },
            dayClick: function() {
              console.log('a day has been clicked');
            },
            eventClick: function(course, evt) {
              $('#event-info').css('display', 'block')
                              .css('background', course.color);

              if (course.title) {
                $('#event-info .event').css('display', 'block');
                $('#event-info .free').css('display', 'none');

                $('#event-info .event #course-name').text(course.title);
                var instructors = '';
                course.instructors.forEach(function(instructor) {
                  instructors += instructor + ', ';
                });
                $('#event-info .event .instructors').text(instructors.substring(0, instructors.length - 2));
                $('#event-info .event .location').text(course.location);
                $('#event-info .event .section').text(course.section);

                var friends = [];
                course.friends.forEach(function(friend) {
                  friends.push($('<li>' + friend + '</li>'));
                });
                $('#event-info .event .friends').html(friends);
              } else {
                $('#event-info .event').css('display', 'none');
                $('#event-info .free').css('display', 'block');

                var friends = [];
                course.friends.forEach(function(friend) {
                  friends.push($('<li>' + friend + '</li>'));
                });
                $('#event-info .free .friends').html(friends);

                var restaurants = [];
                course.restaurants.forEach(function(restaurant) {
                  restaurants.push($('<li>' + restaurant + '</li>'));
                });
                $('#event-info .free .restaurants').html(restaurants);
              }
            },
            events: userInfo.schedule.concat(freeSchedule)
          });
        }).fail(function() {
          alert('freetimes error occured');
        });
      }).fail(function() {
        alert('error occured');
      });

      $(document).keyup(function(e) {
        if (e.keyCode == 27) { // escape key maps to keycode `27`
          $('#event-info').css('display', 'none');
          $('#event-info .event').css('display', 'none');
          $('#event-info .free').css('display', 'none');
        }
      }).click(function(e) {
        if (e.target.nodeName === 'HTML') {
          $('#event-info').css('display', 'none');
          $('#event-info .event').css('display', 'none');
          $('#event-info .free').css('display', 'none');
        }
      });
    });
    // angular
    //   .module('tartanhacks', [])
    //   .controller('CalendarController', CalendarController);

    // function CalendarController($scope) {
    //   var startTime = 8;
    //   var endTime = 22;
    //   $scope.times = [];
    //   for (i = startTime; i <= endTime; i++) {
    //     $scope.times.push(i);
    //   }
    //   $scope.days = [
    //                'Sunday',
    //                'Monday',
    //                'Tuesday',
    //                'Wednesday',
    //                'Thursday',
    //                'Friday',
    //                'Saturday'
    //              ];
    //   // var thead = document.querySelector('thead');
    //   // times.forEach(function(time) {
    //     // var th = document.createElement('th');
    //     // th.innerText = time;
    //     // thead.appendChild(th);
    //   // });
    // }

    // CalendarController.$inject = ['$scope'];
  </script>
</body>
</html>
