<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
<link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.4/css/materialize.css">
<script type="text/javascript" src="/http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.4/js/materialize.js"></script>
<html>
<head>

<script type=text/javascript>

function initialize() {
	var password_mismatch = '{{ password_match }}';
	if(password_mismatch == 'false'){
		var link = document.getElementById("d");
		link.innerHTML = "Incorrect Password";
	}
}
</script>

<h1> CMU Meets </h1>
</head>
<body onload="initialize();">
	<div class="container">
	<section id="content">
		<form action="/login" method='POST'>
			<h1>Log In</h1>
			<div class = "input-field col s12">
            	<i class="mdi-social-person-outline medium prefix"></i>
				<input type="text" required="" id="username" name="username" placeholder="Username"/>
			</div>
			<div class = "input-field col s12">
	            <i class="mdi-action-lock-outline medium prefix"></i>
				<input type="password" placeholder="Password" required="" id="password" name="password"/>
			</div>
			<div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Login
				<i class="mdi-content-send right"></i>
				</button>
				<b id="d" /> <br>
			</div>
			<div>
				<a href="/register">Register</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
	</div><!-- container -->
</body>
</html>