<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
<html>
<head>
<script type=text/javascript>

function initialize() {
	var password_mismatch = '{{ password_match }}';
	if(password_mismatch == 'false'){
		var link = document.getElementById("d");
		link.innerHTML = "Passwords do not match";
	}
}
</script>

<h1> CMU Meets </h1>

</head>
<body onload="initialize();">
	<div class="container">
	<section id="content">
		<form action="/register" method='POST'>
			<h1>Sign-Up</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" name="username"/>
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" name="password"/>
			</div>
			<div>
				<input type="password" placeholder="Re-enter Password" required="" id="password" name="password_re"/>
			</div>
			<div>
				<input type="submit" value="Submit" />
				<b id="d" /> <br>
			</div>
			<div>
				<a href="/login">Login</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
	</div><!-- container -->
</body>
</html>